<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Title</title>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form role="form" >
				<div class="form-group">
					 <label for="exampleInputEmail1">动漫名称</label><input type="text" class="form-control" name="name" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">字幕组</label><input type="text" class="form-control" name="zimuzu" />
				</div>
				<div class="form-group">
                    <label for="exampleInputEmail1" >更新日期</label><select class="form-control" name="day">
                    <option value ="0">周日</option>
			        <option value ="2">周一</option>
			        <option value ="2">周二</option>
			        <option value ="3">周三</option>
			        <option value ="4">周四</option>
			        <option value ="5">周五</option>
                    <option value ="6">周六</option>
		        </select>
                </div>
				<div class="row clearfix">
		<div class="col-md-12 column">
			<button type="submit"   class="btn btn-success btn-lg btn-block" onclick="reloadPage()" >提交</button>
		</div>
	</div>
			</form>
		</div>
	</div>
</div>
       <div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
			<table class="table">
             <tbody>
					{% for line in result %}
					<tr class="success">
						<td>
                            {% for key in line %}
							{{key}}
                            {% endfor %}

						</td>
						{% endfor %}
					</tr>
				</tbody>
        </table>
    	</div>
       <div class="col-md-2 column">
		</div>
	</div>
<script>
function reloadPage()
{
    this.location.reload();
}
</script>
</body>
</html>